
@import "../../_variables.scss";
.header{
    background: #fff;
    padding-left: 45px;
    display: flex;
    position: relative;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.header-wrapper{
    padding: 0px 70px;
    max-width: 1440px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    width: 100%;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 2;
    &.fixed{
        
    min-width: 1200px;
    }
  }
/*search css */
.search-wrapper{
    background-color: rgba(0, 0, 0, 0.68);
h2{
    color:white;
}
.search-input-wrapper{
    width:60%;
    margin:0 auto;
    position: relative;
    input{
        border: 0;
        outline: 0;
        background: transparent;
        border-bottom: 1px solid #bfbfbf;
        text-indent: 30px;
    }
    .fa-search { 
        position: absolute;
        top: 14px;
        left: 7px;
        font-size: 15px;
      }
      .fa-microphone {
        position: absolute;
        top: 14px;
        right: 7px;
        font-size: 15px;
      }
}
}
.search-wrapper:hover{
    background-color:black;
}
/*search css*/

.search > input{
    outline:none;
    border-radius: 40px;
    margin: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #ccc;
    height: 35px;
    width: 60%;
    transition: 0.3s;
    padding: 0px 10px;
    font-size: 16px;
}

.search>input:focus{
    border-color: #095b99; 
    width: 100%;
}
.search{
    flex:1;
    justify-content: flex-start;
    display: flex;
    align-items: center;
}
ul.header-options{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    /* grid-template-columns: 33.33% 33.33% 33.33%; */
    align-items: center;
    justify-content: space-around;
    // width: 300px;
   
}
ul.left-list{
    &.hiderest{
        visibility: hidden;
    }
    &.showrest{
        visibility: visible;
    }
}
ul.header-options>li{
    height: 100%;
    align-items: center;
    display: flex;
    height: 50px;
    padding: 19px;
    /* border-bottom: 3px solid #fff; */
    
}


ul.header-options>li>a{
    display: block;
    height: 100%;
    align-items: center;
    display: flex;
    transition: .3s;
    // border-bottom: 3px solid #fff;
    text-transform: capitalize;
    color: #aaa;
    text-decoration: none;
}

.aw-tabs{
    position: relative;
}
.right-list{
    display: inline-flex;
    position: absolute;
    right: -1px;
    justify-content: initial!important;
    li{
        padding: 15px 22px;
        .fa{
            font-size:20px;
            color: white;
        }
    }
    li:nth-child(1) {
       .fa{
           color:$orange;
           ;
       }
       &.hiderest{
        visibility: hidden;
    }
    &.showrest{
        visibility: visible;
    }
     
    }
    li:nth-child(2) {
        background: $mahroon;
        &.hiderest{
            visibility: hidden;
        }
        &.showrest{
            visibility: visible;
        }
       
     }
    li:nth-child(3) {
        background: $light-blue;
        &.hiderest{
            visibility: hidden;
        }
        &.showrest{
            visibility: visible;
        }
       
       
    }
    li:nth-child(4) {
        background: $blue;
        .fa{
            color:$blue;
            background-color: $white;
            border-radius: 100%;
                display: block;
                padding: 4px;
                width: 23px;
                height: 23px;
                
        }
        span{
            color:$white;
        }
        
    }
   
}
.aw-tabs-blocks{
    position: absolute;
    top: 100%;
    left: 0px;
    background: transparent;
    width: 100%;
    >div{
        transition: opacity 1s ease-out;
        // border: 1px solid #095b99;
        opacity: 0; 
        height: 0;
        overflow: hidden;
    }
    >div.active{
        opacity: 1;
        height: 100%;
    }
}