@import "../../_variables.scss";
.brand-color-stripe {
	position: absolute;
	width: 100%;
	z-index: 1;
	height: 4px;
	left: 0px;
	display: flex;
	> span {
		display: block;
		height: 100%;
		flex: 1;
	}
	> span:first-child {
		width: 10%;
		left: 0px;
		top: 0px;

		background: $yellow;
	}

	> span:nth-child(2) {
		width: 10%;
		left: 0px;
		top: 0px;

		background: $orange;
	}
	> span:nth-child(3) {
		width: 10%;
		left: 0px;
		top: 0px;

		background: $blue;
	}
	> span:nth-child(4) {
		width: 10%;
		left: 0px;
		top: 0px;

		background: $light-blue;
	}
	> span:nth-child(5) {
		width: 10%;
		left: 0px;
		top: 0px;

		background: $mahroon;
	}
	> span:nth-child(6) {
		width: 10%;
		left: 0px;
		top: 0px;
		background: $green;
	}
	> span:nth-child(6) {
		// width: ;
		left: 0px;
		top: 0px;
		background: $dark-blue;
		flex: 4;
	}
}
