
.dashboard-wrapper{
    padding: 0px 70px;
     max-width: 1440px; 
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    width: 100%;
    margin: auto;
    min-width: 1200px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .defaultLayout{
    .ant-layout{
      background-color: transparent;
    }
  }
  .banner-container{
    background-image: url("https://soccajoeys.com.au/wp-content/uploads/2015/03/kid-drinking-water-1000x480.jpg");
    width: 100%;
    height: 295px;
    background-size: cover;
    background-position: center;
    min-width: 1200px;
  }
  .dashboard-container{
    min-height: 1200px;
  }