@import "../../_variables.scss";
.login-block{
    padding: 12px 36px;
    background: $white;
    display: flex;
    >.login-header{
        margin-right: 40px;
        >h4{
            font-size: 18px;
            line-height: 22px;
            margin: 0px;
            font-weight: 300;
        
            &:first-child{
                color: $primary;
            }
            &:nth-child(2){
                font-size: 16px;            
                margin-bottom: 20px;
                color:$off-black;
            }
        }
    }
    >.signup-action{
        margin-left: 40px;
        >h4{
            font-size: 16px;
            line-height: 22px;
            margin: 0px;
            font-weight: 300;
        
            &:first-child{
                color: $off-black;
            }
            &:nth-child(2){        
                margin-bottom: 20px;
                color:$red;
                font-weight: 600;
            }
        }
    }
    >simple-login{
        flex:1;
    }
    span{
        display: flex;
        justify-content: flex-end;
        padding: 0px 3px;
        >a{
            color: #308dca;
            font-size: 11px;
            text-decoration: underline;
            font-style: italic;
            margin-top: -15px;
            margin-bottom: 5px;
            line-height: 20px;
            &:hover{
                color: #095b99;
            }
        }
    }
    
}
.login-input{
    outline: none;
    border-radius: 40px;
    margin: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #ccc;
    height: 32px;
    width: 100%;
    transition: 0.3s;
    padding: 0px 10px;
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
    &:focus{
      border: 1px solid #095b99; 
    }
  }
  .login-button{
    outline: none;
    border-radius: 40px;
    margin: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    /* border: 1px solid #ccc; */
    height: 32px;
    width: 100%;
    transition: 0.3s;
    padding: 6px 72px;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    background-color: $primary;
    &:focus{
        opacity: .8;
    }
  }
  .login-link{
    display: block;
    margin: 0;
    padding: 3px;
    font-weight: 500;
    font-style: italic;
    color: #09c;
    transition: .3s;
    font-size: 13px;
    text-align: right;
  }