.footer-container{
    // position: fixed;
    // z-index: -1;
    /* height: 350px; */
    width: 100%;
    bottom: 0;
    position:relative;
    // height: 250px;
    
    &.fixed{
        min-width: 1200px;
        .footer-wrapper,.footer-wrapper-white{
            max-width: 1280px;
            margin: 0px 80px
        }
    }
}
.footer-block{
    background: #1b3753;
    min-height: 100px;
    // padding: 30px;
    display: flex;
    justify-content: center;
    color: #fff;
    .wrapper{
        position: relative;
    }
    
}
.footer-block-white{
    background-color: #fff;
    display: flex;
    justify-content: center;
}
.footer-wrapper{
    margin: 0px 80px;
    position: relative;
    display: flex;
    // &::before{
    //     content: '';
    //     background: #a6083e;
    //     width: 100px;
    //     height: 7px;
    //     position: absolute;
    //     left: 50px;
    //     top: -4px;
    // }
   
    .section{
        padding: 60px 0px 30px 0px;
        flex: 1;
        margin: 0 40px;
        h2{
            color:white;
        }
        h5{
            color: white;
            font-weight: bold;
        }
        >p{
            font-size: 13px;
            color: #e8e8e8;
            a{
                color: #e8e8e8;
                text-decoration: underline;
            }
        }
        >ul.links{
            padding: 0px;
            margin: 0px;
            margin-left:13px;
            display: grid;
            grid-template-columns: 50% 50%;
            list-style-type: none;
                li{
                    margin-bottom: 10px;
                    position:relative;
                    >a{
                    color: #fff;
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                    }
                    &:before{
                        
                            position:absolute;
                            content:"";
                            top:50%;
                            -webkit-transform:translateY(-50%);
                            -moz-transform:translateY(-50%);
                            -o-transform:translateY(-50%);
                            -ms-transform:translateY(-50%);
                            transform:translateY(-50%);
                            margin-left:-10px;
                            width: 0; 
                            height: 0; 
                            border-top: 5px solid transparent;
                            border-bottom: 5px solid transparent;
                            border-left: 5px solid #1890ff;
                            }
                    
                }
            }
        }
    }
}
.footer-wrapper-white{
    margin: 0px 35px;
    position: relative;
    display: flex;
    padding-bottom: 20px;
    width: 100%;
    padding: 5px 20px;
    .section{
        padding: 0px 15px;
        margin:0 auto;
        display: flex;
        align-items: center;
        p{
            font-size:12px;
            text-align: center;
            padding-top: 10px;
            
        }
        >img{
            max-height: 35px;
        }
        h5{
            text-align: center;
            font-size:10px;
            a{
                color: #0b4c93;
            }
        }
        >ul.social-links{
            padding: 0px;
            margin: 0px;
            display: flex;
            list-style-type: none;
                li{
                    margin-bottom: 10px;
                    flex: 1;
                    padding: 0px 10px;
                    >a{
                    text-decoration: none;
                    color: grey;
                    font-size: 20px;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}