.zipcode-block{
    >h3{
        color: #4a4a4a;
         font-size: 18px;
         line-height: 22px;
         margin-bottom: 20px;
    }
    >input[type=number]::-webkit-inner-spin-button, 
    >input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0; 
}
}