.alert-bar{
    background: #00000090;
    // padding: 10px 30px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    ul{
        padding: 0px;
        margin: 0px;
        height: 100%;        
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        >li{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex: 1;
            height: 100%;  
            &:last-child{
                .divider{
                    display: none;
                }              
            } 
            .divider{
                display: block;
                width: 1px;
                background: #fff;
                height: calc(100% - 20px);
            }
            >.icon-block{
                width: 92px;
                font-size: 30px;
                height: 100%;
                align-items: center;
                display: flex;
                justify-content: center;
                a{
                    height: 100%;
                    width: 100%;
                    padding: 10px;
                    text-align: center;
                    transition: .3s;
                    &:hover{
                        background: rgba(0, 0, 0, .4);
                    }
                }
            }
            >div.info{
                flex: 1;
                p{
                &.title{
                    color: #FFFFFF;
                    font-size: 18px;
                    line-height: 21px;
                    text-transform: uppercase;
                    font-weight: 500;
                    margin: 0px;
                    max-height: 22px;
                    overflow: hidden;
                }
                &.subtitle{	
                    color: #FFFFFF;		
                    font-size: 13px;	
                    text-transform: uppercase;
                    line-height: 15px;
                    max-height: 16px;
                    margin: 0px;
                    overflow: hidden;
                    }
                }
            }
        }
    }
}