.cards-layout-container {
	height: calc(100% - 105px);
	background-color: transparent;
	> .ant-layout-content {
		height: 100%;
	}
}
.cards-container {
	height: 100%;
	position: relative;
	&.columns {
		display: block;
	}
	.column {
		float: left;
        transition: .5s;
        .expanded-view{      
                position: absolute;
                width: 100%;
                height: 0px;
                left: 10px;
                top: 10px;
                opacity: 0;
                z-index: 0;
                transition: .5s;
                box-shadow: none;
                transform: scale(0);
                z-index: 5;
                width: 100%;
                min-height: 300px;
                &.open{
                    opacity: 1; 
                    transform: scale(1);
                    box-shadow: 0 1px 4px 0 rgba(110,126,142,0.61);
                    background: #fff;
                }
        }
        .expanded-view-backdrop{
            position: fixed;
            left: 0px;
            top: 0px;
            transition: opacity .5s;
            opacity: 0;
            z-index: -1;
            width: 0px;
            height: 0px;
            background-color: rgba(0,0,0,0.5);   
            &.open{
                    width: 100vw;
                    z-index: 4;
                    height: 100vh;
                    opacity: 1;
            }     
        }
    
	}
}
