// standard colors
$black:#000;
$white: #fff;

// Our Neutral shades
$off-white: #f3f4f5;
$off-black: #1A2023;

// $black-06: rgb(0,0,0,0.6);
$gray: #9b9b9b;
$light-gray:#E2E7EB;
$dark-gray: #4a4a4a;

// Our Brand Colors
$red:#D0021B;
$light-blue:#4e9be0;
$blue:#315f93;
$yellow:#f2c515;
$orange:#ea7a26;
$mahroon:#b0223d;
$green:#65a646;
$dark-blue:#1b3753;
// Action colors
$primary:#1F63A7 ;
$primary-light:#4a90e2;
$primary-dark:#143853;

$primary-blue:#1F63A7;
$primary-blue-light:#4a90e2;
$primary-red: #D0021B;

$secondary-green: #77C144;
$secondary-yellow: #FBA63B;
$secondary-blue: #40CCDF;

$complementary-gray: #3B464D;
$complementary-gray-light: #CDCDCD;

$text-black: #000000;
$text-gray: #666666;
$text-white: #ffffff;
