@import "../../_variables.scss";
/*search css */
.search-wrapper{
    background-color: rgba(0, 0, 0, 0.68);
h2{
    color:white;
}
.search-input-wrapper{
    width:60%;
    margin:0 auto;
    position: relative;
    input{
        border: 0;
        outline: 0;
        background: transparent;
        border-bottom: 1px solid #bfbfbf;
        text-indent: 30px;
    }
    .fa-search { 
        position: absolute;
        top: 14px;
        left: 7px;
        font-size: 15px;
      }
      .fa-microphone {
        position: absolute;
        top: 14px;
        right: 7px;
        font-size: 15px;
      }
}
}
.search-wrapper:hover{
    background-color:black;
}
/*search css*/